*{
  margin : 0;
  padding:0;
  box-sizing: border-box;
}

.main-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  //grid-template-rows: repeat(2,1fr);
  row-gap: 5px;
  column-gap: 5px;
  padding: 10px;
  background-color: gray;
}
  
.card-container{
  border : coral solid thin;
  border-radius: 5px;
  text-align: center;
  display: inline-grid;
  background-color:ivory;
}

.card-container h2{
  
}